/* First Navigation Bar */
.navbar-default {
  background-color: #4C8930;
  border-color: #000;
}

.navbar-default .navbar-nav > li > a {
  color: #FCFCFC;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #D3D3D3;
}

/* Second Navigation Bar */

.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}

.navbar-light {
  min-height: 80px !important
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
  background-color: #4C8930 !important;
}

/* Parallax image */
.parallax {
  background-image: url("../assets/background.png");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Thumbnail images */
.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

@media (min-width: 576px) {

}


@media (max-width: 992px) {
  .navbar-default .navbar-collapse.collapse {
    display: block!important;
  }
}

/*
.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
} */
