/* First Navigation Bar */
.navbar-default {
  background-color: #4C8930;
  border-color: #000;
}

.navbar-default .navbar-nav > li > a {
  color: #FCFCFC;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #D3D3D3;
}

/* Second Navigation Bar */

.navbar-nav > li > a {
  padding-top: 5px !important;
  padding-bottom:5px !important;
}

.navbar-light {
  min-height: 80px !important
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
  border: 0 none;
  background-color: #4C8930 !important;
}

/* Parallax image */
.parallax {
  background-image: url("../assets/background.png");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Thumbnails */
.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

/* Latest news */
.bg-latest-news {
  background-color: #ECEEEF !important;
}

/* Footer */
footer {
  background-color: Black !important;
}
footer .footer-info > ul {
  list-style-type: none;
}

/* Share icons */
.social li {
	background: none repeat scroll 0 0 #4C8930;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	background: #4C8930;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 0;
	color: #EDEFF1 !important;
}

@media (max-width: 576px) {
  .footer-info {
    margin-left: 1em !important;
  }
}


@media (max-width: 768px) {

}

@media (max-width: 992px) {

  /* First Nav */
  .navbar-default .navbar-collapse.collapse {
    display: block !important;
  }

  .navbar-default .input-group {
    padding-right: 0px !important;
    float: left !important;
    min-width: 64px !important;
    width: 100%;
  }

  .navbar-default .navbar-right {
  }

  /* Footer */
  .footer-list {
    width: 100%;
  }

  footer .navbar-brand-container {
    /* display: inline-block !important; */
    /* background-color: Red !important; */
  }

  .social {
    float: left !important;
    padding-left: 0 !important;
    width: 100%;
  }

  .footer-info {
    padding-left: 0em !important;
  }

  .navbar-default  .navbar-right {
  }
}
